<a href="https://colab.research.google.com/github/LagosJA/Mineria_de_Datos/blob/main/Ej_Python_1941592.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Ejercicio 1**

Realiza una variable con tu matricula y realiza una secuencia de imprimir con tu nombre y tu matricula concatenados.

In [87]:
mat = "1941592"
nom= "Jose Alejandro Lagos Martinez "
nm = nom + mat
print("Hola, mi nombre y matrícula son:",nm)

Hola, mi nombre y matrícula son: Jose Alejandro Lagos Martinez 1941592

**Ejercicio 2**

Pidiendo el input del usuario pide dos números y crea una pequeña calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [86]:
a = int(input("Introduce un número: "))
b = int(input("Introduce otro número: "))
print("\n")
print(a,"+",b,"=",a+b)
print(a,"-",b,"=",a-b)
print(a,"x",b,"=",a*b)
print(a,"÷",b,"=",a/b)
print(a,"^",b,"=",a**b)

Introduce un número: 3
Introduce otro número: 2


3 + 2 = 5
3 - 2 = 1
3 x 2 = 6
3 ÷ 2 = 1.5
3 ^ 2 = 9

**Ejercicio 3**

Con loop while o for, realiza una lista de 10 numeros multiplos de 3, y después realiza una función de loop que sume todos los números dentro del arreglo.

In [84]:
lista=[0,0,0,0,0,0,0,0,0,0]
s=0
for i in range(0,10):
  lista[i]= 3*(i+1)

print(lista)
for i in range(0,10):
  s=s+lista[i]

print("La suma es:",s)

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30]
La suma es: 165

**Ejercicio 4**

*  Con una función de if else, revisar si un número es par o es impar.
*   Con una función de if else, revisar si un número es primo o no.

In [83]:
a = int(input("Introduce un número: "))
if a%2 != 0:
    print(a, "no es par.")
else:
    print(a, "es par.")
    
c = 0
for i in range(2,a):
  if a % i == 0:
    c=c+1 
 
if c > 0 :
  print(a,"no es primo." )
else:
  print(a,"es primo.")

Introduce un número: 13
13 no es par.
13 es primo.

**Ejercicio 5**

Utilizando diferentes clases en python, crea una calculadora con los operadores básicos de suma, resta, multiplicación, división, y exponente.

In [89]:
class Calc:
  def __init__(self,a,b):
    self.a=a
    self.b=b
  def suma(self):
    return self.a + self.b
  def resta(self):
    return self.a - self.b
  def mult(self):
    return self.a * self.b
  def div(self):
    return self.a / self.b
  def exp(self):
    return self.a ** self.b

a = int(input("Ingresa un número:" ))
b = int(input("Ingresa otro número: "))
nums=Calc(a,b)
print("\n")
print(a,"+",b,"=",nums.suma())
print(a,"-",b,"=",nums.resta())
print(a,"x",b,"=",nums.mult())
print(a,"÷",b,"=",nums.div())
print(a,"^",b,"=",nums.exp())

Ingresa un número:4
Ingresa otro número: 5


4 + 5 = 9
4 - 5 = -1
4 x 5 = 20
4 ÷ 5 = 0.8
4 ^ 5 = 1024

**Tuplas**

Crear una variable flotante, integer, boleana y compleja e imprimir el tipo de variable que es.

In [90]:
a=3
b=2.5
c=True
d=1+3j
print("a:",type(a))
print("b:",type(b))
print("c:",type(c))
print("d:",type(d))

a: <class 'int'>
b: <class 'float'>
c: <class 'bool'>
d: <class 'complex'>

Crear una tupla con valores enteros imprimir el primer y ultimo valor.

In [91]:
t=(1,3,8,6,2,5)
print("Primer valor:",t[0])
print("Último valor:",t[len(t)-1])

Primer valor: 1
Último valor: 5

Añadir 3 valores de string a la tupla.

In [97]:
t=(1,3,8,6,2,5)
t.__add__(("hola","como","estás"))
#https://www.w3schools.com/python/python_tuples.asp

(1, 3, 8, 6, 2, 5, 'hola', 'como', 'estás')

Verificar si una variable existe dentro de la tupla.

In [93]:
t=(1,3,8,6,2,5)
a = int(input("Introduce un número: "))
if a in t:
  print(a,"está en la tupla.")
else:
  print(a,"no está en la tupla.")

Introduce un número: 3
3 está en la tupla.

**Listas**



*   Crear una lista con 40 elementos aleatorios enteros.
*   Con una funcion (def) crear dos listas nuevas a partir de la lista creada por numeros aleatorios, en la cual en una esten los elementos pares, y en la otra los elementos impares.
*   Crear dos variables con la longitud de ambas listas nuevas e imprimir las variables.
*   Ordenar los elementos de la lista par de mayor a menor, y los de la lista impar de menor a mayor.
*   Utilizar al menos cuatro de las funciones de listas en python en la lista original de 40 elementos.

In [98]:
import random as r
Lis = []
for i in range (0,40):
    Lis.append(r.randint(1,99))

def n_pares(numeros):
    pares = []
    
    for n in numeros:
        if n % 2 == 0:
            pares.append(n)
            
    return pares

def n_impares(numeros):
    impares = []
    
    for n in numeros:
        if n % 2 != 0:
            impares.append(n)
            
    return impares
l_pares = n_pares(Lis)
l_impares = n_impares(Lis)
print("Pares:",l_pares,"\nImpares:",l_impares)
x=len(l_pares)
y=len(l_impares)
print("Número de elementos en lista par:",x,"\nNúmero de elementos en lista impar:",y)
l_pares.sort(reverse=True)
l_impares.sort()
print("Elementos ordenados lista par:",l_pares,"\nElementos ordenados en lista impar:",l_impares)
Lis.sort()
print("\nLista original ordenada:",Lis)
Lis.append(100)
print("Agregar un 100 al final de la lista:",Lis)
Lis.reverse()
print("Invertir el orden de los elementos:",Lis)
Lis.remove(100)
print("Eliminar el 100:",Lis)
#si hubiera más de un 100 esta función solo elimina la primer ocurrencia
#https://www.w3schools.com/python/python_ref_list.asp

Pares: [84, 96, 70, 82, 30, 50, 68, 74, 66, 46, 36, 78, 38, 44, 16, 54, 34]
Impares: [39, 11, 59, 81, 1, 67, 7, 57, 15, 93, 87, 13, 35, 67, 49, 19, 89, 67, 93, 49, 95, 35, 67]
Número de elementos en lista par: 17
Número de elementos en lista impar: 23
Elementos ordenados lista par: [96, 84, 82, 78, 74, 70, 68, 66, 54, 50, 46, 44, 38, 36, 34, 30, 16]
Elementos ordenados en lista impar: [1, 7, 11, 13, 15, 19, 35, 35, 39, 49, 49, 57, 59, 67, 67, 67, 67, 81, 87, 89, 93, 93, 95]

Lista original ordenada: [1, 7, 11, 13, 15, 16, 19, 30, 34, 35, 35, 36, 38, 39, 44, 46, 49, 49, 50, 54, 57, 59, 66, 67, 67, 67, 67, 68, 70, 74, 78, 81, 82, 84, 87, 89, 93, 93, 95, 96]
Agregar un 100 al final de la lista: [1, 7, 11, 13, 15, 16, 19, 30, 34, 35, 35, 36, 38, 39, 44, 46, 49, 49, 50, 54, 57, 59, 66, 67, 67, 67, 67, 68, 70, 74, 78, 81, 82, 84, 87, 89, 93, 93, 95, 96, 100]
Invertir el orden de los elementos: [100, 96, 95, 93, 93, 89, 87, 84, 82, 81, 78, 74, 70, 68, 67, 67, 67, 67, 66, 59, 57, 54, 50, 49, 49, 46, 44, 39, 38, 36, 35, 35, 34, 30, 19, 16, 15, 13, 11, 7, 1]
Eliminar el 100: [96, 95, 93, 93, 89, 87, 84, 82, 81, 78, 74, 70, 68, 67, 67, 67, 67, 66, 59, 57, 54, 50, 49, 49, 46, 44, 39, 38, 36, 35, 35, 34, 30, 19, 16, 15, 13, 11, 7, 1]

**Diccionarios**



*   Crear un diccionario de 6 personas que conozcas con su primer nombre y su edad.
*   Crear una lista con los valores de la edad y reacomodar la lista de menor a mayor valor.
*   Usando el diccionario y un loop, imprimir solo los nombres.
*   Añadir dos personas nuevas a tu diccionario, incluyendo edad.

In [94]:
dic = {"Ximena":20,"Diego":20,"Ana":23,"José":19,"Enrique":21,"Vanessa":21}

e = []
for key, value in dic.items():
    e.append(value)
e.sort()
print(e)

for key, value in dic.items():
  print(key,end=", ")

dic["Gabriel"]=18
dic["Abigail"]=22
print("\n",dic)
#https://careerkarma.com/blog/python-add-to-dictionary/

[19, 20, 20, 21, 21, 23]
Ximena, Diego, Ana, José, Enrique, Vanessa,
 {'Ximena': 20, 'Diego': 20, 'Ana': 23, 'José': 19, 'Enrique': 21, 'Vanessa': 21, 'Gabriel': 18, 'Abigail': 22}

**Sets**

*   Crea un set con 100 numeros aleatorios enteros del 1 al 25.
*   Comprueba la longitud de tu set.
*   Crea una lista de 5 numeros aleatorios del 1 al 10 y comprueba si cada valor aparece en el set inicial.

In [95]:
import random as r
L = []
for i in range (0,100):
    L.append(r.randint(1, 25))

s = set(L)
print(s)
#El set no permite duplicados por eso la longitud no es de 100.
print(len(s))

x = []
for i in range (0,5):
    x.append(r.randint(1, 10))
print(x)

for i in range (0,5):
  if x[i] in s:
    print(x[i],"está en el set.")
  else:
    print(x[i],"no está en el set.")

#https://www.w3schools.com/python/python_sets.asp

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25}
25
[8, 4, 10, 3, 5]
8 está en el set.
4 está en el set.
10 está en el set.
3 está en el set.
5 está en el set.